body{
	font-family: Verdana;
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	text-align:center;
}
h1{
	margin-top:-10px;
	margin-bottom:-15px;
}
p{
	font-size:1.0rem;
}
input {
	font-size: 1.25rem;
	font-weight: bold;
}
.labels{
	font-size: 3.0rem;
	font-weight: bold;
}
button{
	font-size: 1.5rem;
	/* text-align: center; */
	/* line-height: 50px; */
	padding: 15px;
	border-radius: 10px;
	border: none;
	background-color: hsl(210,100%,50%);
	color: white;
	font-weight: bold;
	cursor: pointer;
}
button:hover{
	/*background-color: hsl(210,100%,60%);*/
}
button:active{
	/*background-color: hsl(210,100%,70%);*/
}
button {
    display: block;      /* Keeps buttons stacked vertically */
    margin: 0 auto 10px; /* Centers horizontally and keeps bottom spacing */
    /* width: 500px;        /* Highly recommended: give the button a fixed width */
}
.quiz-button {
    background: none;
	background-color: #ffffff;
    border: 2px solid transparent;
    cursor: pointer;
    padding: 5px;
}

.quiz-button:hover {box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)}
/* .quiz-button:hover {	 */
    /* border: 4px solid hsl(210,100%,60%); */
/* } */